# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
presentation/static/uploads/logos/*
!presentation/static/uploads/logos/.gitkeep
